body {
  
    min-width: 360px;
    min-height: 360px;
  
  
  background-color: red;

  @include tablet {
    background-color: blue;
  }

  @include phone {
    background-color: yellow;
  }
}

a:link {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.logo {
  color: $logo;
  font-family: 'Raleway-Bold', Arial, sans-serif;
}

header {
  position: sticky;
  top: 0;
  background-color: $my-black;
  color: white;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 1rem;
  z-index: 999!important;
  @include phone {
    font-size: 1.5rem;
  }
}

nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu {
  @include phone {
    display: block;
    position: fixed;
    top: -12rem;
    right: 0;
    transition: 1s;
   z-index: 99;
    
  }

}

#menu>li {
  background-color: $my-black;
  display: inline-block;

  @include phone {
    display: block;
    
  }

  padding: 1rem;
  font-size: 1rem;
  height: 3rem;
  width: 120px;

  text-align: center;

  &:hover {
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    cursor: pointer;
  }


  //dropdown menu
  ul {
    display: none;
    background-color: $my-black;
    position: absolute;
    list-style-type: none;
    font-family: 'Raleway', Arial, sans-serif;
    width: 7.5rem;
    z-index: 99;
    left: 0;
    top: 3.5rem;

    @include phone {
      left: -7.5rem;
      top: 0;
      height: 9rem;

    }

    li {
      padding: 0.75rem 0;
      height: 1.875rem;

      @include phone {
        height: 3rem;
      }

      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:before {
      display: block;
      content: "";
      width: 7.5rem;
      height: 0.5rem;
      position: absolute;
      top: -0.5rem;
      left: 0;
      z-index: 1;
      background-color: transparent;
    }

    &:after {

      content: "";
      display: block;
      width: 0;
      height: 0;
      z-index: 2;
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-bottom: 0.5rem solid $my-black;
      background-color: transparent;
      position: absolute;
      top: -0.5rem;
      left: 3.25rem;
    }

    li:hover {
      font-family: 'Raleway-Bold', Arial, sans-serif;
    }
  }

  &:first-child:hover {
    position: relative;

    &>ul {
      display: block;


    }
  }
}

//hamburger menu
#hamburger {
  width: 33px;
  height: 22px;
  margin-right: 22px;
  display: none;
  position: absolute;
  right: 0;
 
    z-index: 999;
  
  @include phone {
    display: block;
  }

  &:hover {
    cursor: pointer;
  }

  span {
    display: block;
    border-radius: 2px;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background: $logo;
    transition: 1s;
  }
}

.hamburger-active {
  span:nth-last-of-type(1) {
    transform: rotate(45deg) translate(-3px, -10px);
    transition: 1s;
  }

  span:nth-last-of-type(3) {
    transform: rotate(-45deg) translate(-3px, 10px);
    transition: 1s;
  }

  span:nth-last-of-type(2) {
    opacity: 0;
  }
}

.center-menu {

  @include phone {


    display: block !important;
    width: 120px;


    top: 3rem !important;
    right: 0 !important;

    

    transition: 1s;
  }

}

.gallery {

  background-image: linear-gradient(white,#D0D0D8);
   
  .container {
    border: 1px solid black;
   position: relative;
    


  }

  [class^="arrow"] {

    display: block;
    position: absolute;
    top: 50%;
    font-family: 'Raleway-Bo';
    
  
    color: $logo;
    font-size: 2.5rem;
    @include phone{
      font-size: 1.5rem;
    }
    z-index: 99;

    

    &:hover {
      cursor: pointer !important;
    }

    &[class$=left] {
      content: "\3c";

      transform: translateY(-50%);

      left: 0;

    }

    &[class$=right] {
      right: 0;
      content: "\3e";
      transform: translateY(-50%);
    }
  }

  [class^="chair-"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: 1.5s;
    max-width: 1024px;
    
    top: 0;
    
   
@include desktop{
  min-height: 360px;

}
@include large{
  min-height: 360px;
  
}
    &[class$="1"] {
      
    }

    &[class$="2"] {
      
      
      position: absolute;
      top:0;
      opacity: 0;
      
    }

    &[class$="3"] {
      
      position: absolute;
      top:0;
       opacity: 0;
      
    }
  }

  .chair {
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
    margin: 3rem 0 0 0;
    
  

    @include phone {
      width: 100%;
      justify-content: center;
     margin: 0;
    }

    @include phone-landscape {
      width: 35%;
    }
    @include tablet{
      
    }

    height: auto;
    border:1px solid #666;

    img {

      max-width: 100%;
      height: auto;
      
    }
  }

  .desc {
    width: 35%;
    // margin: 3rem 0 0 0;
  

    @include phone {
      width: 100%;
      margin: 0;
      
    }
    

    @include phone-landscape {
      width: 55%;
    }

    font-family: 'Raleway',
    Arial,
    sans-serif;
    border:1px solid #666;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    h1 {
      padding: 1rem 0 1rem 0;
      text-align: center;
      @include phone {
        padding: 1rem 0;
        font-size: 1.875rem;
      }
      @include tablet{
        font-size: 1.75rem;
      }

      font-size: 2rem;

    }

    p {

      font-size: 1rem;

      @include phone {
        font-size: 0.875rem;
        width: 100%;
        padding: 0 2rem;
      }

     
      width: 100%;
     
      @include tablet{
        width: 100%;
        padding: 0 2rem;
      }
      text-align: center;
      line-height: 150%;
    }

    
  }
  button{
    a{
      display:flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      
           }

    z-index: 9;
     font-family: 'Raleway', Arial, sans-serif;
    background-color: $logo;
    color: white;
    font-size: 1rem;
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 1rem;
    transition: 0.25s;
    &:hover{
      font-size: 1.125rem;
      
    }
    
  }
}