body {
  // text-shadow: 1px 1px 1px lightgray;
  min-width: 360px;
  min-height: 360px;
  color: $my-black;

  background-color: red;

  @include tablet {
    background-color: blue;
  }

  @include phone {
    background-color: yellow;
  }
}

a:link {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.logo {
  color: $logo;
  font-family: 'Raleway-Bold', Arial, sans-serif;

}

header {
  text-shadow: none !important;
  position: sticky;
  top: 0;
  background-color: $my-black;
  color: white;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 1rem;
  z-index: 999 !important;

  @include phone {
    font-size: 1.5rem;
  }
}

nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu {
  @include phone {
    display: block;
    position: fixed;
    top: -12rem;
    right: 0;
    transition: 1s;
    z-index: 99;

  }

}

#menu>li {
  background-color: $my-black;
  display: inline-block;

  @include phone {
    display: block;

  }

  padding: 1rem;
  font-size: 1rem;
  height: 3rem;
  width: 120px;

  text-align: center;

  &:hover {
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    cursor: pointer;
  }


  //dropdown menu
  ul {
    display: none;
    background-color: $my-black;
    position: absolute;
    list-style-type: none;
    font-family: 'Raleway', Arial, sans-serif;
    width: 7.5rem;
    z-index: 99;
    left: 0;
    top: 3.5rem;

    @include phone {
      left: -7.5rem;
      top: 0;
      height: 9rem;

    }

    li {
      padding: 0.75rem 0;
      height: 1.875rem;

      @include phone {
        height: 3rem;
      }

      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:before {
      display: block;
      content: "";
      width: 7.5rem;
      height: 0.5rem;
      position: absolute;
      top: -0.5rem;
      left: 0;
      z-index: 1;
      background-color: transparent;
    }

    &:after {

      content: "";
      display: block;
      width: 0;
      height: 0;
      z-index: 2;
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-bottom: 0.5rem solid $my-black;
      background-color: transparent;
      position: absolute;
      top: -0.5rem;
      left: 3.25rem;
    }

    li:hover {
      font-family: 'Raleway-Bold', Arial, sans-serif;
    }
  }

  &:first-child:hover {
    position: relative;

    &>ul {
      display: block;


    }
  }
}

//hamburger menu
#hamburger {
  width: 33px;
  height: 22px;
  margin-right: 22px;
  display: none;
  position: absolute;
  right: 0;

  z-index: 999;

  @include phone {
    display: block;
  }

  &:hover {
    cursor: pointer;
  }

  span {
    display: block;
    border-radius: 2px;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background: $logo;
    transition: 1s;

  }
}

.hamburger-active {
  span:nth-last-of-type(1) {
    transform: rotate(45deg) translate(-3px, -10px);
    transition: 1s;
  }

  span:nth-last-of-type(3) {
    transform: rotate(-45deg) translate(-3px, 10px);
    transition: 1s;
  }

  span:nth-last-of-type(2) {
    opacity: 0;
  }
}

.center-menu {

  @include phone {


    display: block !important;
    width: 120px;


    top: 3rem !important;
    right: 0 !important;



    transition: 0.5s;
  }

}

.gallery {

  background-image: linear-gradient(white, #D0D0D8);

  .container {
    // border: 1px solid black;
    position: relative;



  }

  .circles {
    position: absolute;
    bottom: 0.25rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 4rem;

    z-index: 99;

    div {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: $my-gray;
      box-shadow: 1px 1px 1px gray;
      border: 1px solid gray;
      cursor: pointer !important;
      transition: 0.5s;

      &:first-child {
        background-color: gray;
      }
    }
  }

  [class^="arrow"] {

    display: block;
    position: absolute;
    top: 50%;
    font-family: 'Raleway-Bo';


    color: $logo;
    font-size: 2.5rem;

    @include phone {
      font-size: 1.5rem;
    }

    z-index: 99;



    &:hover {
      cursor: pointer !important;
    }

    &[class$=left] {
      content: "\3c";

      transform: translateY(-50%);

      left: 0;

    }

    &[class$=right] {
      right: 0;
      content: "\3e";
      transform: translateY(-50%);
    }
  }

  [class^="chair-"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: 1.5s;
    max-width: 1024px;

    top: 0;


    @include desktop {
      min-height: 360px;

    }

    @include large {
      min-height: 360px;

    }

    &[class$="1"] {}

    &[class$="2"] {


      position: absolute;
      top: 0;
      opacity: 0;

    }

    &[class$="3"] {

      position: absolute;
      top: 0;
      opacity: 0;

    }
  }

  .chair {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 3rem 0 0 0;



    @include phone {
      width: 100%;
      justify-content: center;
      margin: 0;
    }

    @include phone-landscape {
      width: 35%;
    }

    @include tablet {}

    height: auto;
    // border:1px solid #666;

    img {

      max-width: 100%;
      height: auto;
      z-index: 1;
    }
  }

  .desc {
    width: 35%;
    // margin: 3rem 0 0 0;


    @include phone {
      width: 100%;
      margin: 0;

    }


    @include phone-landscape {
      width: 55%;
    }

    font-family: 'Raleway',
    Arial,
    sans-serif;
    // border:1px solid #666;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    h1 {
      padding: 1rem 0 1rem 0;
      text-align: center;

      @include phone {
        padding: 1rem 0;
        font-size: 1.875rem;
      }

      @include tablet {
        font-size: 1.75rem;
      }

      font-size: 2rem;

    }

    p {

      font-size: 1rem;

      @include phone {
        font-size: 0.875rem;
        width: 100%;
        padding: 0 2rem;
      }


      width: 100%;

      @include tablet {
        width: 100%;
        padding: 0 2rem;
      }

      text-align: center;
      line-height: 150%;
    }


  }

  button {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

    }

    z-index: 9;
    box-shadow: 1px 1px 1px lightgray;
    font-family: 'Raleway',
    Arial,
    sans-serif;
    background-color: $logo;
    color: white;
    font-size: 1rem;
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 1rem 0 1.5rem 0;
    transition: 0.25s;

    &:hover {
      font-size: 1.125rem;

    }

  }
}

// chairs
.second {
  padding: 2rem 1rem;
  background-color: white;

  .container {

    display: flex;
    justify-content: space-between;

    @include phone {
      justify-content: center;
    }

    @include phone-landscape {
      justify-content: space-between;
    }

    align-items: stretch;
    flex-wrap: wrap;

    &>div {
      width: 32%;

      @include phone {
        width: 100%;
      }

      @include phone-landscape {
        width: 48%;
      }

      @include tablet {
        width: 48%
      }

      height: auto;
      position: relative;

      img {
        width: 100%;
        height: auto;
      }

      &:nth-child(3) {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        border: 1px solid $my-gray;

        @include phone {
          width: 100%;
        }

        @include phone-landscape {
          margin-top: 1.5rem;
        }

        @include tablet {
          width: 100%;
          margin-top: 1.5rem;
        }

        h3 {
          width: 100%;
          margin: 0.5rem 0;
          font-family: 'Raleway-Bold', Arial, sans-serif;

        }

        p {

          font-family: 'Raleway', Arial, sans-serif;
          font-size: 0.875rem;
          margin: 0.5rem 0;
          color: gray;
          text-shadow: none;
        }
      }
    }
  }
}

.inner {
  width: 100%;
  margin: 1rem 0;
  padding: 0 1rem;
  min-height: 3rem;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;

  h3 {
    margin-top: 0.5rem;
    font-family: 'Raleway-Bold', Arial, sans-serif;
    color: $my-black;





  }
}

.greenbox {
  margin-bottom: 1rem;
  justify-self: flex-start;
  width: 60%;
  height: 0.5rem;
  background-color: $logo;

}

// pricelist
#pricelist {
  min-height: 360px;
  background-color: $my-lightgray;
  padding: 2rem 1rem;

  .greenbox {
    width: 32%;
  }

  font-family: 'Raleway',
  Arial,
  sans-serif;

  h3 {
    font-family: 'Raleway-Bold', Arial, sans-serif;
  }

  .circle {
    position: absolute;
    width: 58px;
    height: 58px;
    background-color: lightgray;
    border-radius: 50%;
    left: 50%;
    top: 0;
    transform: translate(-50%, -70%);

    div {
      position: absolute;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    div:first-child {

      width: 56px;
      height: 56px;
      background-color: white;

    }

    div:nth-child(2) {

      width: 30px;
      height: 30px;
      background-color: lightgray;



    }



  }

  .container {
    .options {
      
      display: flex;
      justify-content: space-between;
      margin: 3.5rem 0 0 0;

      @include phone {
        justify-content: center;
      }

      @include phone-landscape {
        justify-content: space-between;
      }

      // align-content: stretch;
      flex-wrap: wrap;

      &>div {
        background-color: white;
        width: 32%;
        border: 1px solid lightgray;
        position: relative;
        min-height: 360px;

        @include phone {
          width: 100%;
          margin: 1.5rem 0;
        }

        @include phone-landscape {
          width: 32%;
          margin: 0;
        }

        // 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        h2 {
          width: 100%;
          text-align: center;
          color: $logo;
          @include phone-landscape{
            font-size: 0.875rem;
                        }
        }

        .price {
          width: 7rem;
          height: 7rem;
          border-radius: 50%;
          border: 1px solid lightgray;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          align-content: center;
          margin: 1.5rem 0;
          padding: 0;

          h1,
          h4 {
            width: 100%;
            text-align: center;
            margin: 0;
            padding: 0;
            color: $my-darkgray;
          }

          h1 {
            font-family: 'Raleway-Bold', Arial, sans-serif;
            font-size: 2rem;
            
          }
        }

        ul {
          border: 2px solid red;
          width: 100%;
          min-height: 8rem;
          list-style-type: none;
          text-align: center;

          li {
            height: 2rem;
            font-size: 1.375rem;
            line-height: 2rem;
            @include tablet {
              font-size: 1rem;
            }

            @include phone-landscape {
              font-size: 1rem;
            }

            color: $my-darkgray;

            &:nth-of-type(2n+1) {
              background-color: $my-gray;
            }

            &:nth-of-type(2n) {}
          }
        }

        h2 {
          margin-top: 1.5rem;
        }


        button {
          margin: 1rem;
        }



      }
    }

  }
}