//media queries

$phone:"(max-width: 719px)";
$phone-landscape: "(max-width: 719px) and (orientation: landscape)";
$tablet:"(min-width: 720px) and(max-width: 1024px)";
$desktop: "(min-width: 1025px) and (max-width: 1800px)";
$large:"(min-width: 1801px)";
